body {
  margin: 0;
  background-color: rgb(113, 118, 118);
}

.pageWrapper {
  background-image: url("./assets/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
